name: Build, Test & Publish
on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+-*'

jobs:
  test-and-publish:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.x

      - name: Build and Test
        run: make test

      - name: Publish to NuGet
        run: make ci-publish REF_NAME=${{ github.ref_name }}
        env:
          NUGET_KEY: ${{ secrets.NUGET_KEY }}